[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pynvim = "*"
mypy = "*"
black = "*"
python-language-server = {extras = ["rope"],version = "*"}
isort = "*"
ipython = "*"
flake8 = "*"

[packages]
keras = "*"
matplotlib = "*"
pandas = "*"
toml = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
